@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Aqua';
    src: url('/assets/fonts/aqua.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  .font-aqua {
    font-family: 'Aqua', sans-serif;
  }